{% extends 'base.html.twig' %}

{% block title %}Liste des patients débiteurs{% endblock %}

{% block body %}
    <h1>Liste des patients débiteurs</h1>
    
    <div class="w3-responsive">
    <table class="w3-table-all">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.adresse }}</td>
                <td>{{ patient.tel }}</td>
                <td>
                    <a href="{{ path('patient_show', {'id': patient.id}) }}" class="w3-button w3-black">
                                                                        voir</a>
                    <a href="{{ path('patient_edit', {'id': patient.id}) }}" class="w3-button w3-black">
                                                                    modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas d'enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
        
{% endblock %}
