{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>
    <table class="w3-table-all">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ patient.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ patient.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ patient.adresse }}</td>
            </tr>
        </tbody>
    </table>
            
    <hr>
    
    <h2>Les actes du patient</h2>
    
    <table class="w3-table-all">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acte in actes %}
            <tr>
                <td>{{ acte.id }}</td>
                <td>{{ acte.motif }}</td>
                <td>{{ acte.date ? acte.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('acte_show', {'id': acte.id}) }}" class="w3-button w3-black">Voir</a>
                    <a href="{{ path('acte_edit', {'id': acte.id}) }}" class="w3-button w3-black">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <hr>
    
    <h2>Les factures du patient</h2>
    <div class="w3-responsive">
    <table class="w3-table-all">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descriptif</th>
                <th>Tarif</th>
                <th>Paye</th>
                <th>Date</th>
                {% if is_granted('ROLE_PRATICIEN') %}
                <th>Etat</th>
                {% endif %}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.descriptif }}</td>
                <td>{{ facture.tarif }}</td>
                <td>{{ facture.paye }}</td>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                {% if is_granted('ROLE_PRATICIEN') %}
                <td>
                    {% if  facture.tarif == facture.paye %}
                        Réglée
                    {% elseif facture.tarif > facture.paye %}
                        Non réglée
                    {% else %}
                        Vérifier facture
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    <a href="{{ path('facture_show', {'id': facture.id}) }}" class="w3-button w3-black">
                                                                        Voir</a>
                    <a href="{{ path('facture_edit', {'id': facture.id}) }}" class="w3-button w3-black">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>
    
    <h2>Suivi du patient</h2>
    <div class="w3-row">
        <div class="w3-container w3-card-4 w3-yellow w3-margin w3-quarter">
            <p>Reste dû : {{ sommeTarif - sommePaye }} euros</p>
        </div>
    </div>
    <a href="{{ path('patient_index') }}" class="w3-button w3-black">retour à la liste</a>

    <a href="{{ path('patient_edit', {'id': patient.id}) }}" class="w3-button w3-black">modifier</a>
    
    <a href="{{ path('acte_new', {'patient_id': patient.id}) }}" class="w3-button w3-black">Créer Acte</a>
    
    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
