{% extends 'base.html.twig' %}

{% block title %}Liste des actes{% endblock %}

{% block body %}
    <h1>Liste des actes</h1>
    
    <div class="w3-responsive">
    <table class="w3-table-all">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for acte in actes %}
            <tr>
                <td>{{ acte.id }}</td>
                <td>{{ acte.motif }}</td>
                <td>{{ acte.date ? acte.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('acte_show', {'id': acte.id}) }}" class="w3-btn w3-margin w3-black">
                                                                        Voir</a>
                    <a href="{{ path('acte_edit', {'id': acte.id}) }}" class="w3-btn w3-margin w3-black">
                                                                    Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <a href="{{ path('patient_index') }}" class="w3-btn w3-margin w3-black">
                                                           retour à la liste</a>
{% endblock %}
