<div class="w3-container">
{{ form_start(form) }}
    {{ form_row(form.descriptif, {'attr': {'class': 'w3-input'}}) }}
    {{ form_row(form.tarif, {'attr': {'class': 'w3-input'}}) }}
    {{ form_row(form.paye, {'attr': {'class': 'w3-input'}}) }}
    {{ form_widget(form) }}
    <button class="w3-btn w3-blue-gray w3-margin">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>