{% extends 'base.html.twig' %}

{% block title %}Liste Facture{% endblock %}

{% block body %}
    <h1>Liste Facture</h1>
    
    <div class="w3-responsive">
    <table class="w3-table-all">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descriptif</th>
                <th>Tarif</th>
                <th>Paye</th>
                <th>Reste</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.id }}</td>
                <td>{{ facture.descriptif }}</td>
                <td>{{ facture.tarif }}</td>
                <td>{{ facture.paye }}</td>
                <td>{{ facture.reste }}</td>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('facture_show', {'id': facture.id}) }}" class="w3-btn w3-margin w3-black">
                                                                        Voir</a>
                    <a href="{{ path('facture_edit', {'id': facture.id}) }}" class="w3-btn w3-margin w3-black">
                                                                    Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<a href="{{ path('patient_index') }}" class="w3-btn w3-margin w3-black">
                                                           retour à la liste</a>
{% endblock %}
