{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <div class="w3-responsive">
    <table class="w3-table-all">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ facture.descriptif }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ facture.tarif }}</td>
            </tr>
            <tr>
                <th>Paye</th>
                <td>{{ facture.paye }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <hr>
    
    <h2>Suivi de la facture</h2>
    <div class="w3-row">
        <div class="w3-container w3-card-4 w3-yellow w3-margin w3-quarter">
            <p>Reste dû : {{ facture.tarif - facture.paye }} euros.</p>
        </div>
    </div>
    

    <a href="{{ path('facture_edit', {'id': facture.id}) }}" class="w3-btn w3-margin w3-black">
                                                                    Modifier</a>
    
     <a href="{{ path('patient_index') }}" class="w3-btn w3-margin w3-black">
                                                           retour à la liste</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
