{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ facture.descriptif }}</td>
            </tr>
            <tr>
                <th>Tarif</th>
                <td>{{ facture.tarif }}</td>
            </tr>
            <tr>
                <th>Paye</th>
                <td>{{ facture.paye }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ facture.date ? facture.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
    <hr>
    
    <h2>Suivi de la facture</h2>
    <p>Reste dû : {{ facture.tarif - facture.paye }} euros.</p>
    
    <a href="{{ path('patient_index') }}">retour à la liste</a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
